<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link th:href="@{/css/alltrails.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments :: header"></header>
<h1>All Trails</h1>
<div id="master-container">
    <div id="filter-row" class="row section-container" style="width: auto">
        <div th:fragment="filter-form" id="filter-column" class="col-sm-12 accordion-item text-center" style="border: none" th:insert="allTrails/filter-form.html :: filter-form">
        <!--Trail Filter-->
        </div>
    </div>
    <div id="results-map-row" class="row mx-0" style="width: auto">
        <div id="filter-column" class="col px-md-5 section-container container accordion-item" th:replace="allTrails/results-list.html :: results-list">
        <!--Filter Results-->
        </div>
        <div id="map-column" class="col px-md-7 section-container">
            <h2 style="display: flex; justify-content: space-between">
                <span>Map</span>
                <button class="btn btn-primary" th:attr="onclick='checkLocation()'">
                    <i class="bi bi-pin-map-fill"></i>
                    Use My Location
                </button>
            </h2>
            <div id="map"></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    let trails = /*[[${trails}]]*/
    let searchLocation = /*[[${searchLocation}]]*/
    let sort = /*[[${sort}]]*/
    console.log(trails)

    function clearAll(){
        document.getElementById('minLength').value = 0;
        document.getElementById('maxLength').value = 250;
        document.querySelectorAll('[name = "difficulty"]').forEach(item => item.checked = true);
        document.querySelectorAll('[name = "trailSurface"]').forEach(item => item.checked = true);
        document.querySelectorAll('.environment-checkbox').forEach(item => item.checked = false);
        document.querySelectorAll('.friendly-checkbox').forEach(item => item.checked = false);
    }
</script>
<script th:src="@{/js/filterMap.js}"></script>
<script th:if="${searchLocation == null}" src="https://maps.googleapis.com/maps/api/js?v=weekly&callback=initDefaultMap&libraries=geometry,places&key=AIzaSyDWAHGPsqnfC0KDzQI74C3ic6hplSoNN-c" async defer></script>
<script th:if="${searchLocation != null}" src="https://maps.googleapis.com/maps/api/js?v=weekly&callback=initSearchMap&libraries=geometry,places&key=AIzaSyDWAHGPsqnfC0KDzQI74C3ic6hplSoNN-c" async defer></script>
</body>
</html>