<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<head>
    <link th:href="@{/css/meetups.css}" rel="stylesheet" />
</head>

<body class="create-meetup-body">
    <header th:replace="fragments :: header"></header>
    <div class="navbar">
        <div class="container">
            <nav>
                <ul class="meetup-nav">
                    <li><a href="/meetups" class="all-cta">All Meetups</a>
                        <a href="/meetups/create" class="primary-cta">Create a Meetup</a>
                        <a href="/meetups/delete" class="secondary-cta">Delete a Meetup</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="create-meetup-section">
        <form method="post">
            <div class="form-group">
                <div class="form-wrapper">
                    <label class="form-name">Meetup Name:
                            <input th:field="${meetup.meetupName}" class="form-control">
                    </label>
                        <p class="error" th:errors="${meetup.meetupName}"></p>
                    <label class="form-email">Contact Email:
                        <input th:field="${meetup.meetupDetails.meetupContactEmail}" class="form-control">
                    </label>
                        <p class="error" th:errors="${meetup.meetupDetails.meetupContactEmail}"></p>
                    <!--label class="form-date">Date:
                        <input type="date" class="form-control">
                    </label-->
                    <label class="form-date">Date (mm/dd/yyy):
                        <input th:field="${meetup.meetupDate}" class="form-control">
                    </label>
                        <p class="error" th:errors="${meetup.meetupDate}"></p>
                    <label class="form-description">Description:
                            <textarea th:field="${meetup.meetupDetails.meetupDescription}" class="form-control"></textarea>
                        </label>
                        <p class="error" th:errors="${meetup.meetupDetails.meetupDescription}"></p>

                    <label class="form-trail" th:for="trail">Trail:</label>
                        <select name="trailId">
                            <option th:each="trail : ${trails}"
                                    th:text="${trail.name}"
                                    th:value="${trail.id}"></option>
                        </select>

                    </div>



            <!--div class="form-group">
                <label>Meetup Category:
                    <select th:field="${meetup.meetupCategory}">
                        <option th:each="meetupCategory : ${categories}"
                                th:value="${meetupCategory.id}"
                                th:text="${meetupCategory.meetupCategoryName}">
                        </option>
                    </select>
                    <p class="error" th:errors="${meetup.meetupCategory}"></p>
                </label>
            </div-->
                </div>
                <input type="submit" value="Create Meetup">
            </div>
        </form>
    </section>
</body>
</html>