<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<head>
    <link th:href="@{/css/meetups.css}" rel="stylesheet" />
</head>
<head>
    <link th:href="@{/css/alltrails.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="navbar">
    <div class="container">
        <nav>
            <ul class="meetup-nav">
                <li><a href="/meetups" class="all-cta">All Meetups</a>
                    <a th:if="${theUser != null}" href="/meetups/create" class="primary-cta">Create a Meetup</a>
                    <a th:if="${theUser != null}" href="/meetups/delete" class="secondary-cta">Delete a Meetup</a></li>
            </ul>
        </nav>
    </div>
</div>
<section>
    <div th:each="meetup : ${meetups}">
        <h1 class="details-name" th:text="${meetup.meetupName}"></h1>
        <ul>
            <li th:text="'Description: ' + ${meetup.meetupDescription}" class="meetup-description-details"></li>
            <li th:text="'Date: ' + ${meetup.meetupDate}" class="meetup-date-details"></li>
            <li th:text="'Contact Email: ' + ${meetup.meetupContactEmail}" class="meetup-email-details"></li>
            <li th:text="'Location: ' + ${meetup.trail}" class="meetup-location-details"></li>
        </ul>
        <form action="http://maps.google.com/maps" method="get" target="_blank">
            <label th:for="saddr">Enter Location:</label>
            <input type="text" name="saddr" />
            <input type="hidden" name="daddr" th:value="${meetup.trail.googleName}" />
            <input type="submit" value="Get directions" class="get-directions-cta"/>
        </form>


    <!--tr>
        <th>Meetup Category</th>
        <td th:text="${meetup.meetupCategory}"></td>
    </tr-->

    </div>

    <div id="map-column" class="meetup-trail-map">
            <h3>Trail Location</h3>
            <div id="map"></div>
    </div>

    <script th:src="@{/js/meetupMap.js}"></script>
    <script th:inline="javascript">
    let trails = /*[[${trails}]]*/
    let meetups = /*[[${meetups}]]*/
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=&v=weekly&key=AIzaSyDWAHGPsqnfC0KDzQI74C3ic6hplSoNN-c" async defer></script>
</section>
</body>
</html>