<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<head>
    <link th:href="@{/css/meetups.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="navbar">
    <div class="container">
        <nav>
            <ul class="meetup-nav">
                <li><a href="/meetups" class="all-cta">All Meetups</a>
                    <a href="/meetups/create" class="primary-cta">Create a Meetup</a>
                    <a href="/meetups/delete" class="secondary-cta">Delete a Meetup</a></li>
            </ul>
        </nav>
    </div>
</div>
<section>
    <div>
        <h1 th:text="${meetup.meetupName}"></h1>
        <ul>
            <li th:text="'Meetup Description: ' + ${meetup.meetupDetails.meetupDescription}"></li>
            <li th:text="${meetup.meetupDetails.meetupContactEmail}"></li>
        </ul>
    <!--tr>
        <th>Meetup Category</th>
        <td th:text="${meetup.meetupCategory}"></td>
    </tr-->
    </div>
</section>
</body>
</html>