<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<head>
    <link th:href="@{/css/meetups.css}" rel="stylesheet" />
</head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h1>Trail Meetups</h1>
<table th:each="meetup: ${meetups}" class="table table-striped">
    <tr>
        <th>Meetup ID</th>
        <td th:text="${meetup.id}"></td>
    </tr>
    <tr>
        <th>Meetup Description</th>
        <td th:text="${meetup.meetupDetails.meetupDescription}"></td>
    </tr>
    <tr>
        <th>Meetup Contact Email</th>
        <td th:text="${meetup.meetupDetails.meetupContactEmail}"></td>
    </tr>
    <tr>
        <th>Meetup Category</th>
        <td th:text="${meetup.meetupCategory}"></td>
    </tr>
</table>
</body>
</html>