#master-container {
    margin: 3rem auto;
}

.section-container {
    border: 3px solid black;
    padding: 2rem
}

h2 {
    margin-top: 0
}

ol {
    margin-bottom: 0
}

#results-column {
    padding-right: 0
}

#results-list {
    color: white;
    overflow-y: scroll;
    height: 500px;
    padding-left: 3rem;
    background-color: #091E05;
}

.trail-result-block {
    padding: 1rem;
    margin: 1rem 2rem 1rem 0;
    background-color: rgba(255,255,255,0.2);
}
.trail-result-details {
    padding-left: 2rem;
}

.trail-result-name {
    cursor: pointer
}

.trail-result-name:hover {
    text-decoration: underline;
}

#map {
    height:500px
}

.form-group{
    background-color: rgba(255,255,255,0.3);
    margin: 1rem;
    padding: 1rem;
}

.form-control{
    display: inline-block
}

label {
    white-space: nowrap;
}

.form-group {
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(255,255,255,0.5) */
}

input[type="number"]{
    width: 8rem !important;
}

form {
    text-align: center
}

#difficulty-inputs {
    display:flex;
    width: auto;
}

#min-rating {
    display: flex;
    justify-content: space-around;
}

.difficulty-label {
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
}

/* from https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    font-size: 2em;
    color: #ffffff;
    cursor: not-allowed
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* infoWindow */
.gm-style .gm-style-iw-c {
    padding: 0;
    background-color: #091E05 !important;
    border: 10px solid black;
    margin: 0;
}

.gm-style-iw-d {
    padding: 0;
    overflow: hidden !important;

}

.gm-ui-hover-effect {
    background-color: rgb(171, 196, 173) !important;
    /*width: 50px !important;
    height: 50px !important;*/
    margin: 10px 10px 0 0;
}

i, .icon {
    font-size: 2rem;
    margin-right: 1rem;
}

.result-icon-set {
    display: flex;
    margin: 0.5rem;
    margin-left: 0
}

.accordion-item {
    background-color: inherit
}

.accordion-button {
    color: inherit;
    background-color: rgba(255,255,255,0.4)
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: rgba(0,0,0,0.2)
}