* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(171, 196, 173);
}

/* NavBar */
.navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 10vh;
      background-color: rgb(225, 230, 225);
      margin: auto;
      overflow: auto;
      border-radius: 0px;
      width: 100%;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    color: rgb(25, 26, 25);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 750;
    font-size: 16px;

}
.nav_links li a:hover {
    color: rgb(115, 151, 209);
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(25, 26, 25);
    font-size: 19px;
}

.navbar-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 750;
    font-size: 17px;
    padding-right: 5px;
}

.form-control {
    width: 230px;
}

.search-container {
   font-family: 'Roboto Condensed', sans-serif;

}

.header{
    display: flex;
    width: 100%;
    height: 400;
    margin: auto;
}

.first_head {
    text-align: center;
}

.centered {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

/* Main info */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.img-thumbnail {
     width: 85%;
     height: auto;
}
/* Star Ratings */
.checked {
  color: yellow;
}
/* End Of Star */

.trail_name {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.trail_info {
    font-weight: 350;
}

.first_head {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
}
/* Search Table */
.table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
      font-family: 'Roboto Condensed', sans-serif;
}

th, td {
  text-align: left;
  padding: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}
td {
    font-weight: 900;

}

#table_header {
    background-color: rgb(72, 77, 75);
}
/* End Of Search Table */

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  font-family: 'Roboto Condensed', sans-serif;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

<<<<<<< HEAD
/* Trail Info Content */
.trailInfo_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: relative;
  text-align: center;
  color: white;
  border-style: groove;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 30px;
  font-weight: 650;
  font-family: 'Roboto Condensed', sans-serif;
}

.photo{
      height: 360px;
}

.trailDetails {
      margin: auto;
      width: 60%;
      padding: 0px;
      font-size: medium;
      font-family: 'Roboto Condensed', sans-serif;
}

/* Trail Info Rating */
.heading {
  font-size: 25px;
  margin-right: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #048727;}
.bar-4 {width: 30%; height: 18px; background-color: #45e820;}
.bar-3 {width: 10%; height: 18px; background-color: #ffe626;}
.bar-2 {width: 4%; height: 18px; background-color:
#fa8219
;}
.bar-1 {width: 15%; height: 18px; background-color: #fa0505;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}


/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer_container{
	max-width: 1170px;
	margin:auto;
}
.footer_row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2196F3;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



