<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<head>
    <link th:href="@{/css/alltrails.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
<header th:replace="fragments :: nav"></header>
<div id="master-container" class="container col-xs">
    <div id="filter-row" class="row">
        <div id="filter-column" class="col-sm section-container container">
            <h2>Filter</h2>
            <form id="filter-form" class="form-inline" th:action="@{/alltrails/}" method="post">
                <div id="form-row" class="row justify-content-*-center" style="text-align: center">
                    <div id="search-location-container" class="form-el form-group col-sm">
                        <label for="search-location">Search location:</label>
                        <input id="search-location" th:value="${searchLocation}" name="searchLocation" type="text" class="form-control" placeholder="Enter city or zipcode"/>
                    </div>
                    <div id="min-length-container" class="form-el form-group col-sm">
                        <label for="min-length-input"l>Min length:</label>
                        <input id="min-length-input" class="form-control" th:value="${minLength}" name="minLength" type="number" step="0.1"/>
                    </div>
                    <div id="max-length-container" class="form-el form-group col-sm">
                        <label for="max-length-input">Max length:</label>
                        <input id="max-length-input" class="form-control" th:value="${maxLength}" name="maxLength" type="number" step="0.1"/>
                    </div>
                    <div id="difficulty-container" class="form-group col-sm">
                        <label>Difficulty:</label><br/>
                        <div id="difficulty-inputs">
                            <label for="difficulty1" class="difficulty-label">1<input id="difficulty1" name="difficulty" th:checked="${difficulty.contains(1)}" type="checkBox" th:value="1" /></label>
                            <label for="difficulty2" class="difficulty-label">2<input id="difficulty2" name="difficulty" th:checked="${difficulty.contains(2)}" type="checkBox" th:value="2" /></label>
                            <label for="difficulty3" class="difficulty-label">3<input id="difficulty3" name="difficulty" th:checked="${difficulty.contains(3)}" type="checkBox" th:value="3" /></label>
                            <label for="difficulty4" class="difficulty-label">4<input id="difficulty4" name="difficulty" th:checked="${difficulty.contains(4)}" type="checkBox" th:value="4" /></label>
                            <label for="difficulty5" class="difficulty-label">5<input id="difficulty5" name="difficulty" th:checked="${difficulty.contains(5)}" type="checkBox" th:value="5" /></label>
                        </div>
                    </div>
                    <div id="min-rating-container" class="form-group col-sm">
                        <label for="min-rating">Min. rating:</label>
                        <div id="min-rating" class="rating">
                            <input disabled type="radio" name="rating" value="5" id="5">
                            <label for="5">☆</label>
                            <input disabled type="radio" name="rating" value="4" id="4">
                            <label for="4">☆</label>
                            <input disabled type="radio" name="rating" value="3" id="3">
                            <label for="3">☆</label>
                            <input disabled type="radio" name="rating" value="2" id="2">
                            <label for="2">☆</label>
                            <input disabled type="radio" name="rating" value="1" id="1">
                            <label for="1">☆</label>
                        </div>
                    </div>
                    <div id="friendly-options-container" class="form-group col-sm">
                        <label style="white-space: nowrap"><input type="checkbox"/> Dog-Friendly</label>
                        <label style="white-space: nowrap"><input type="checkbox"/> Kid-Friendly</label>
                        <label style="white-space: nowrap"><input type="checkbox"/> Bike-Friendly</label>
                    </div>
                    <div id="environment-options-container" class="form-group col-sm">
                        <label>Environment</label>
                        <div class="row"><div class="col"><label><input type="checkbox"/> River</label></div>
                        <div class="col"><label><input type="checkbox"/> Lake</label></div></div>
                        <div class="row" style="white-space: nowrap"><div class="col"><label><input type="checkbox"/> Creek</label></div>
                        <div class="col"><label><input type="checkbox"/> Woods</label></div></div>
                    </div>
                    <div id="surface-options-container" class="form-group col-sm">
                        <label>Trail surface</label>
                        <div class="row"><div class="col"><label><input type="checkbox"/> Paved</label></div>
                        <div class="col"><label><input type="checkbox"/> Natural</label></div></div>
                        <div class="row"><div class="col"><label><input type="checkbox"/> Gravel</label></div>
                        <div class="col"><label><input type="checkbox"/> Mixed</label></div></div>
                    </div>
                    <div id="sort-container" class="form-group col-sm">
                        <div class="col"><label><input type="radio" name="sort" th:value="length" checked/> Sort by Length</label></div>
                        <div class="col"><label><input type="radio" name="sort" th:value="difficulty"/> Sort by Difficulty</label></div>
                        <div class="col"><label><input type="radio" name="sort" th:value="rating"/> Sort by Rating</label></div>
                    </div>
                    <div id="submit-clear-container" class="form-group col-sm">
                        <div class="row">
                            <input
                                    id="submit-button"
                                    class="form-el btn btn-primary col-sm"
                                    type="submit"
                            />
                        </div>
                        <div class="row">
                            <button
                                    id="clear-button"
                                    type="button"
                                    class="form-el btn btn-danger col-sm"
                                    onclick="clearAll()"
                            >Clear All</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="results-map-row" class="row">
        <div id="results-column" class="col-sm-4 section-container">
            <h2 th:text="'Results (' + ${trails.size()} + ')'"></h2>
            <ol id="results-list" class="mb-0">
                <li class="trail-result-block" th:each="trail : ${trails}" th:block>
                    <h4 class="trail-result-name" th:text="${trail.name}" th:attr="onclick='setZoom(' + ${trail.id} + ')'"></h4>
                    <ul class="trail-result-details">
                        <li th:text="${trail.length} + ' mi long, Level ' + ${trail.difficulty}"></li>
                        <li th:text="${trail.city} +', ' + ${trail.state}"></li>
                        <li th:id="'distance-from-' + ${trail.id}"></li>
                        <li>
                            <i th:if="${trail.dogs}" class="fas fa-dog"></i>
                            <i th:if="${trail.woods}" class="fas fa-tree"></i>
                            <i th:if="${trail.type} != 'natural'" class="fas fa-road"></i>
                            <i th:if="${trail.bikes}" class="fas fa-biking"></i>
                            <i th:if="${trail.family}" class="fas fa-baby-carriage"></i>
                            <i th:if=${trail.water} class="fas fa-water"></i>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div id="map-column" class="col-sm-8 section-container">
            <h2>Map</h2>
            <div id="map"></div>
        </div>
    </div>
</div>
<script th:src="@{/js/filterMap.js}"></script>
<script th:inline="javascript">
    let trails = /*[[${trails}]]*/
    let searchLocation = /*[[${searchLocation}]]*/
    let sort = /*[[${sort}]]*/

    function clearAll(){
        document.getElementById('max-distance').value = null;
        document.getElementById('min-length').value = null;
        document.getElementById('max-length').value = null;
        document.querySelectorAll('[type="checkbox"]').forEach(item => item.checked = true);
    }

    console.log(trails)
</script>
<script th:if="${searchLocation == null}" src="https://maps.googleapis.com/maps/api/js?v=weekly&callback=initDefaultMap&libraries=geometry,places&key=AIzaSyDWAHGPsqnfC0KDzQI74C3ic6hplSoNN-c" async defer></script>
<script th:if="${searchLocation != null}" src="https://maps.googleapis.com/maps/api/js?v=weekly&callback=initSearchMap&libraries=geometry,places&key=AIzaSyDWAHGPsqnfC0KDzQI74C3ic6hplSoNN-c" async defer></script>
</body>
</html>