<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org/" xmlns:th="">
<head th:replace="fragments :: head"></head>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:replace="fragments :: header"></header>
    <div class="trailInfo_image">
        <a target="_blank" th:href="@{/images/germany-1751443.jpg}">
            <img class="photo" th:src="@{/images/germany-1751443.jpg}" width="100%">
        </a>
        <div>
            <h3 class="bottom-left" th:text="${trail.name}"></h3>
        </div>
    </div>
<div class="trailDetails">
    <!--Rating-->
    <form th:if="${theUser != null}" method="POST" th:action="@{/trail/{trailid}(trailid=${trail.id})}" id="rating-form" class="form-group col-sm">
        <label for="rating">My rating:</label>
        <div id="rating" class="rating">
            <th:block th:each="i: ${#numbers.sequence(5,1)}">
                <input type="checkbox" name="ratingValue" th:value="${i}" th:id="${i}"/>
                <label th:for="${i}">☆</label>
            </th:block>
        </div>
        <input type="hidden" name="trailId" value="6" />
        <input type="hidden" name="userId" th:value="${theUser.id}" />
        <input type="submit"/>
    </form>
    <span class="heading">User Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <p th:text="${trail.averageRating} + ' average based on ' + ${trail.ratings.size()} + ' reviews.'"></p>
    <hr style="border:3px solid #f1f1f1">

    <div class="row">
        <div class="side">
            <div>5 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-5" th:style="'width: ' + ${star5ratings / trail.getRatings().size() * 100} + '%'" ></div>
            </div>
        </div>
        <div class="side right">
            <span th:text="${star5ratings}"></span>
        </div>
        <div class="side">
            <div>4 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-4"></div>
            </div>
        </div>
        <div class="side right">
            <div>63</div>
        </div>
        <div class="side">
            <div>3 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-3"></div>
            </div>
        </div>
        <div class="side right">
            <div>15</div>
        </div>
        <div class="side">
            <div>2 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-2"></div>
            </div>
        </div>
        <div class="side right">
            <div>6</div>
        </div>
        <div class="side">
            <div>1 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-1"></div>
            </div>
        </div>
        <div class="side right">
            <div>20</div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>