<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<head>
    <link th:href="@{/css/meetups.css}" rel="stylesheet" />
</head>
<body class="container">
<header th:replace="fragments :: header"></header>

<header class="meetup-page-header">
    <h1 th:text="${title}">TrailTracker</h1>
    <ul class="nav" style="float:right;">
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/meetups">All Meetups</a></li>
        <li class="nav-item"><a class="nav-link" href="/meetups/create">Create a Meetup</a></li>
        <li class="nav-item"><a class="nav-link" href="/meetups/delete">Delete a Meetup</a></li>
        <!--li class="nav-item"><a class="nav-link" href="/meetupCategories">Meetup Categories</a></li-->
    </ul>
</header>

<!--form method="post">
    <div class="form-group">
        <label> Meetup Category Name:
            <input th:field="${meetupCategory.meetupCategoryName}" class="form-control">
        </label>
        <span th:errors="${meetupCategory.meetupCategoryName}" class="error"></span>
    </div>
    <input type="submit" value="Create Meetup Category" class="btn btn-primary">
</form-->
</body>
</html>